@import "mocha.css";

/* REQUIREMENTS
- INFO: RAM, NETWORK, BATTERY, CLOCK
- INTERACTIVE: VOLUME, BACKLIGHT
- SCRATCHPAD 
- SPOTIFY INFO
- OTHER MEDIA INFO
- SYSTEM TRAY WITH Bluetooth, Wifi, Volume (Can do this without tray tbh
- Taskbar (minimized apps)
- Weather Info
- WORKSPACE
- Lock and Logout
- Current App name with window indication
*/

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: @base;
  color: @text;
  transition-duration: 0.5s;
  transition-property: background-color;

  font-family: Roboto;
  font-size: 14px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  /* box-shadow: inset 0 3px @text; */
}

#workspaces {
  margin: 0.25em 0.5em;
}

#workspaces button {
  padding: 0 0.25em;
  font-size: 15px;
  color: @overlay0;
  background: transparent;
}

#workspaces button:hover {
  background: @surface1;
}

#workspaces button.active {
  color: @text;
  background: @surface0;
  box-shadow: inset 0 -3px @blue;
  font-weight: bold;
}

#workspaces button.urgent {
  border: 2px solid @red;
}

#taskbar {
  margin: 0.25em 0.5em;
}

#taskbar button {
  padding: 0 4px;
  margin: 0 0.125em;
  background-color: transparent;
  border-radius: 50%;
}
#taskbar button:hover {
  background: @crust;
}

#taskbar button.active {
  background: @surface1;
}

#taskbar button.minimized {
  background: @crust;
}

#taskbar button.maximized {
  background: @blue;
}

#taskbar button.fullscreen {
  background: @blue;
}

#window {
  font-size: 12px;
}

#tray,
#clock,
#battery,
#memory,
#network,
#bluetooth,
#backlight,
#pulseaudio {
  font-size: 13px;
  font-weight: bold;

  padding: 0 0.5em;
  margin: 0.5em 0.2em;
  border-radius: 0.125em;
}

#tray,
#custom-power,
#clock,
#bluetooth,
#pulseaudio {
  margin-left: 0.75em;
}

#clock {
  color: @flamingo;
  background-image: linear-gradient(
    to right,
    @flamingo,
    @flamingo 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#battery {
  color: @pink;
  background-image: linear-gradient(
    to right,
    @mauve,
    @mauve 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#battery.charging,
#battery.plugged {
  color: @mauve;
}

@keyframes blink {
  to {
    background-color: @base;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory {
  color: @maroon;
  background-image: linear-gradient(
    to right,
    @maroon,
    @maroon 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#network {
  color: @yellow;
  background-image: linear-gradient(
    to right,
    @yellow,
    @yellow 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#network.disconnected {
  color: @red;
}

#bluetooth {
  color: @teal;
  background-image: linear-gradient(
    to right,
    @teal,
    @teal 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#backlight {
  color: @sapphire;
  background-image: linear-gradient(
    to right,
    @sapphire,
    @sapphire 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#pulseaudio {
  color: @lavender;
  background-image: linear-gradient(
    to right,
    @lavender,
    @lavender 1.75em,
    @surface0 1.75em,
    @surface0
  );
}

#pulseaudio.muted {
  background-color: @crust;
  color: @subtext0;
}

#custom-media,
#custom-weather {
  font-weight: 500;
  font-size: 13px;

  color: @surface0;
  background-color: @subtext1;

  padding: 0.1em 0.5em;
  margin: 0.5em 0.25em;
  border-radius: 0.125em;
}

#custom-media {
  background-color: @blue;
}

#tray {
  background-color: @surface0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#custom-launcher,
#custom-power,
#custom-lock {
  font-size: 13px;
  font-weight: bold;

  padding: 0 0.5em;
  margin: 0.5em 0.2em;
  border-radius: 0.125em;
}

#custom-power,
#custom-lock {
  background-color: @surface0;
}
#custom-power {
  margin-left: 0.75em;
}
